<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    {{{block "meta"}}}

    <title>Poll</title>

    <link href="/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
</head>
<body>
    <section id="content">
        {{{body}}}
    </section>

    <script src="/env.js"></script>
    <script src="/cookies.js"></script>
    <script src="/script.js"></script>
</body>
</html>
