<form id="form">
    {{#each answers}}
        <div>
            <input type="radio" name="answer" value="{{id}}" id="answer-{{id}}" class="answer">
            <label for="answer-{{id}}">{{label}}</label>
        </div>
    {{/each}}
    <button type="submit" id="vote">Stem</button>
</form>

<div id="results" style="display:none"></div>
